html {
  font: normal 100%/1.5 Georgia,serif;
}

body {
  margin: 0;
}

header {
  background-color: #e2e2e2;
  padding: 1em 0;
}

h1 {
  margin: 0;
  text-align: center;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #666;
  border-radius: 4px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #000;
}

.nav .current {
  background-color: red;
}
